<div class="profile">
  <h2><%= @profile.user.username %>'s Profile</h2>
  <p>Name: <%= @profile.fname %> <%= @profile.lname %></p>
  <p>Bio: <%= @profile.bio %></p>
</div>
<div class="posts">
  <% @posts.reverse.each do |p|  %>
  <h3><%= p.title %></h3></br>
  <%= p.message.first(776) %>...<%= link_to("Continue Reading", "/posts/" + p.id.to_s) %></p></br>
  <p>by: <strong><%= link_to p.user.username, profile_path(p.user_id), method: :get %></strong></p></br>
  <% end %>
</div>
