<div class="profile">
<% if @user.profile != nil %>
  <h2>Profile</h2>
  <p>Name: <%= @user.profile.fname %>
  <%= @user.profile.lname %></p>
  <p>Bio: <%= @user.profile.bio %></p>
<% end %>
</div>

<% if current_user and current_user == @user %>

<h2>Welcome <%= @user.username %></h2>

  <% if @user.profile != nil %>
    <div class="profbutton">
      <%= link_to 'Edit Profile', edit_profile_path(@user.id), method: :get %>
    </div>
  <% else %>
    <br><br>
    <div class="profbutton">
      <%= link_to 'Create Profile', new_profile_path(@user.id), method: :get %>
    </div>
  <% end %>
    <br><br>
    <div class="profbutton">
      <%= link_to 'Write a Post', new_post_path(@user.id), method: :get %>
    </div>
    <br><br>
    <div class="profbutton2">
      <%= link_to 'Delete Your Account', user_path(@user.id), method: :delete %>
    </div>

<% end %>

<h2>Posts</h2>

<%= render 'editpost' %>
