<div class="form2">
<h2>Edit Your Post</h2>
<%= form_for @post do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title%>
  <br>
  <%= f.label :message %>
  <%= f.text_area :message%>
  <br>
  <%= f.submit :update %>
<% end %>
</div>
