<div class="form2">
<h2>Create Your Post</h2>
<%= form_for @post do |f| %>
  <%= label_tag :title %>
  <%= text_field_tag :title%>
  <br>
  <%= label_tag :message %>
  <%= text_area_tag :message%>
  <br>
  <%= submit_tag :create %>
<% end %>
</div>
