<!DOCTYPE html>
<html>
<head>
  <title>TrashTalk</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Slabo+27px|Lobster' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<%= flash[:notice] if flash[:notice] %>
<%= flash[:alert] if flash[:alert] %>
<body>
  <% if current_user %>
    <%= link_to 'logout', logout_path, method: :delete %>
  <% end %>
  <nav class="topnav">
    <li><a href="/">H</a></li>
    <li><a href="/about">A</a></li>
    <li><a href="/contact">C</a></li>
  </nav>
  <div class="headline">
    <h1>Trash Talk</h1>
    <h5>You're the Guru, They Suck</h5>
  </div>

<%= yield %>

</body>
</html>
